<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>DreamWork needs camera access for screen recording with webcam overlay.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>DreamWork needs microphone access for recording audio and Live Meeting.</string>
</dict>
</plist>
